.cont{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.form{
    width: 400px;
    height: 350px;
    border: 3px solid #006150;
    border-radius: 15px;
    margin: 10px;
    padding: 1rem;
    background-color: #006150;
    color: white;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.flain label{
    font-size: 1rem;
    font-weight: 600;
}
.flain input{
    font-size: 1.1rem;
    margin: 0 1rem 0 0;
    padding: .2rem .5rem;
    border-radius:6px;
    color: #222;
}
.submit{
       display: flex;
       margin: 1rem 0 0 0 ;
       justify-content: center;
}