.srcontainer{
    position: absolute;
    background-color: white;
    margin: 1px 0 0 0;
    border: 2px solid #666;
    width: 245px;
    height: 135px;
    border-radius: 9px;
    padding: .5rem;
    
}
.srvalue input{
    width: 110px;
    border: 2px solid #333;
    padding: .5rem .6rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
.srvalue input:nth-child(2){
    margin: 0 0 0 5px;
}
.srsubmit input{
    margin: 19px 0 0 0;
    width: 225px;
    padding: .5rem .2rem;
    border-radius: 9px;
    border-color: #ccc;
    font-size: 1.1rem;
    background-color: #006150;
    border-color: #006150;
    font-weight: 600;
    color: #fff;
}

