.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.cont h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 1.5rem 0
}
.table{
    width:100%;
}