.rccontainer{
    width: 350px;
    /* height: 530px; */
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 10px 0;
    box-shadow: 2px 2px 29px 4px gray;

}
.rccontainer img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}
.rcdetails{
    padding: 1rem;
}
.rcheader{
    display: flex;
    justify-content: space-between;
    margin: 0 0 9px 0;
}
.rcpa h2 span{
    margin: 0 0 0 8px;
    font-size: .9rem;
    font-weight: 100;
}
.rcdetails p{
    margin: .5rem 0;
}
.rcpa{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.rcfloorarea{
    text-align: center;
}
.rcfloorarea p{
    position: relative;
}
.rcfloorarea p:after{
    content: "";
    width: 70px;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    top: -3px;
}
.rcbtn{
    width: 100%;
    padding: 0px 14px;
    
}
.rcbtn button{
    /* width: 220px; */
    padding: .5rem 0rem;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 800;
    /* background-color: #063AA4; */
    color: #fff;
    /* border: 1px solid #063AA4; */

}

.rcbtn button:nth-child(2){
    border: 1px solid #E80E0E;
    background-color: #E80E0E;
    width: 90px;
}


.available{
    display: flex;
    margin: 0 0 10px 0;
    justify-content: center;
    gap: 2rem;

}
