.cont{
    width: 400px;
    border: 2px solid #333;
    padding: 1rem;
    
}
.cont h2{
    text-align: center;
    margin: 0 0 9px 0;
    font-size: 1.6rem;
    font-weight: 600;
}
.inputblock{
    margin: 0 0 10px 0;
}
.inputblock label{
    margin: 0 .3rem 0 0;
}
.inputblock input{
    border: 1px solid #333;
    padding: .4rem .7rem;
    border-radius: 5px;
}
.modalbtn{
    display: flex;
    justify-content: space-between;
}
.modalbtn button{
    border: 1px solid green;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
}
.modalbtn button:hover{
    background-color: green;
    color: white;
    border-color: green;
}