.rccontainer{
    width: 350px;
    /* height: 500px; */
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 10px 2px gray;
    padding: 0 0 10px 0;
    transition: .2s;
    
    &:hover{
        scale: .99;
        box-shadow: 2px 2px 20px 4px gray;
    }
}
.rccontainer img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}
.rcdetails{
    padding: 1rem;
}
.rcheader{
    display: flex;
    justify-content: space-between;
    margin: 0 0 9px 0;
}
.rcpa h2{
    font-size: 1.7rem;
    font-weight: 700;
}
.rcpa h2 span{
    margin: 0 0 0 8px;
    font-size: .9rem;
    font-weight: 100;
}
.rcdetails p{
    margin: .5rem 0;
}
.rcpa{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.rcfloorarea{
    text-align: center;
}
.rcfloorarea p{
    position: relative;
}
.rcfloorarea p:after{
    content: "";
    width: 70px;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    top: -3px;
}
.rcbtn{
    width: 100%;
    padding: 0px 14px;
    
}
.rcbtn button{
    width: 250px;
    padding: .5rem 0rem;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #fff;
}
.rcbtn button:nth-child(2){
    width: 59px;
    margin: 0 0 0 9px;
}
.rcbtn button:hover{
    background-color: green;
    border-color: #green;
}
.rcbtn button:nth-child(2){
    border: 1px solid #FF385C;
    background-color: #FF385C;
    width: 60px;
}
.rcbtn button:nth-child(2):hover{
    background-color: #FF385C;
    border-color: #FF385C;
}

